<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="T3N4CI0US">
    <meta name="author" content="T3N4CI0US">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> <%= title %></title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link type="text/css" rel="stylesheet" href="stylesheets/plugins.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css?ver=1.0">
</head>
<body class="home-static">
<div class="tas_fn_main" data-footer-sticky="">
    <div class="tas_fn_modal product_modal">
        <div class="modal_in">
            <div class="modal_closer">
                <a href="#">
                    <img src="images/svg/cancel.svg" alt="" class="fn__svg">
                </a>
            </div>
            <div class="modal_content">
                <div class="tas_fn_product_modal">
                    <div class="img_item">
                        <!-- Image -->
                    </div>
                    <div class="content_item">
                        <div class="tas_fn_title" data-align="left">
                            <h3 class="fn_title"><!-- Title --></h3>
                            <div class="line"><span></span></div>
                        </div>

                        <div class="desc">
                            <p><!-- Description --></p>
                        </div>

                        <div class="buttons">
                            <a href="/comming" target="_blank" class="tas_fn_button wargame">
                                <span class="icon"><img src="images/svg/link.svg" alt="" class="fn__svg"></span>
                                <span class="text">Wargame</span>
                            </a>
                            <a href="/comming" target="_blank" class="tas_fn_button discord">
                                <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
                                <span class="text">Wargame Discord</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_overlay"></div>
    <div class="tas_fn_nav">
        <div class="trigger is-active">
            <div class="trigger_in">
                <span class="text">Close</span>
                <span class="hamb">
              <span class="hamb_a"></span>
              <span class="hamb_b"></span>
              <span class="hamb_c"></span>
            </span>
            </div>
        </div>
        <div class="nav_content">
            <div class="nav_menu">
                <ul>
                    <li class="menu-item menu-item-has-children">
                        <a href="/">Home</a>
                        <!-- Sub Menu
                        <ul class="sub-menu">
                          <li><a href="#"></a></li>
                        </ul>
                        -->
                    </li>
                    <li class="menu-item"><a href="/comming">Wargame</a></li>
                    <li class="menu-item"><a href="/member">Member</a></li>
                    <li class="menu-item">
                        <a href="#">Research</a>
                        <ul class="sub-menu">
                            <li><a href="/pwnable">Pwnable</a></li>
                            <li><a href="/reversing">Reversing</a></li>
                            <li><a href="/web">Web</a></li>
                            <li><a href="/forensic">Forensic</a></li>
                            <li><a href="/crypto">Crypto</a></li>
                            <li><a href="/cve">CVE</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">CTF[Write-up]</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="/2024">2024</a></li> -->
                            <li><a href="/2023">2023</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="nav_buttons">
                <a href="/comming" class="tas_fn_button" target="_blank">
                    <span class="icon"><img src="images/svg/link.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame</span>
                </a>
                <a href="/comming" class="tas_fn_button" target="_blank">
                    <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame Discord</span>
                </a>
            </div>
        </div>
        <div class="nav_footer">
            <div class="nf_left">
                <p>Copyright 2019. T3N4CI0US All rights reserved</p>
            </div>
            <div class="nf_right">
                <div class="tas_fn_social_list">
                    <ul>
                        <li><a href="https://twitter.com/cyb3r_t3n4ci0us"><box-icon name='twitter' type='logo' color='#ffffff' ></box-icon></a></li>
                        <li><a href="https://www.facebook.com/people/T3N4CI0US/100064062290144/"><box-icon name='meta' type='logo' color='#ffffff' ></box-icon></a></li>
                        <li><a href="https://www.instagram.com/t3n4ci0us_official/"><box-icon name='instagram' type='logo' color='#ffffff' ></box-icon></a></li>
                        <li><a href="https://github.com/CYB3R-T3N4CI0US"><box-icon name='github' type='logo' color='#ffffff' ></box-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="tas_fn_header">
        <div class="container">
            <div class="header_in">

                <div class="logo">
                    <a href="/">
                        <span class="logo">T3N4CI0US</span>
                    </a>
                </div>

                <div class="trigger">
                    <div class="trigger_in">
                        <span class="text">Menu</span>
                        <span class="hamb">
                <span class="hamb_a"></span>
                <span class="hamb_b"></span>
                <span class="hamb_c"></span>
              </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="tas_fn_content">
        <div class="tas_fn_pagetitle">
            <div class="bg_overlay">
                <div class="bg_color"></div>
                <div class="bg_image" data-bg-img="img/hero/bg.jpg"></div>
            </div>
            <div class="pt_content">
                <div class="container">
                    <h3 class="fn_title fn_animated_text" data-wait="1000" data-speed="8">2023 CTF [Write-up]</h3>
                </div>
            </div>
        </div>
        <div class="tas_fn_blog_page">

            <div class="container">
                <div class="tas_fn_moving_blog">
                    <ul>
                    </ul>
                </div>
                <div class="tas_fn_pagination">
                    <ul>
                        <li>
                            <span class="current">01</span>
                        </li>
                        <!--
                        <li>
                            <a href="#">02</a>
                        </li>
                        <li>
                            <a href="#">03</a>
                        </li>
                        <li>
                            <span class="current">...</span>
                        </li>
                        <li>
                            <a href="#">120</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/plugins.js"></script>
<script type="text/javascript" src="javascripts/type.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script type="text/javascript" src="javascripts/init.js?ver=4.0"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>