<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="T3N4CI0US">
    <meta name="author" content="T3N4CI0US">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> <%= title %></title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link type="text/css" rel="stylesheet" href="stylesheets/plugins.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css?ver=1.0">
  </head>
  <body class="home-static">
    <!-- Main -->
    <div class="tas_fn_main" data-footer-sticky="">
      <!-- Wargame Modal -->
      <div class="tas_fn_modal product_modal">
        <div class="modal_in">
          <div class="modal_closer">
            <a href="#">
              <img src="images/svg/cancel.svg" alt="" class="fn__svg">
            </a>
          </div>
          <div class="modal_content">
            <div class="tas_fn_product_modal">
              <div class="img_item">
                <!-- Product's Image -->
              </div>
              <div class="content_item">
                <div class="tas_fn_title" data-align="left">
                  <h3 class="fn_title"><!-- Product's Title --></h3>
                  <div class="line"><span></span></div>
                </div>
  
                <div class="desc">
                  <p><!-- Product's Description --></p>
                </div>
  
                <div class="buttons">
                  <a href="/comming" target="_blank" class="tas_fn_button wargame">
                    <span class="icon"><img src="images/svg/wargame.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame</span>
                  </a>
                  <a href="#" target="_blank" class="tas_fn_button discord">
                    <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame Discord</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Wargame Modal End -->

      <!-- Right Navigation -->
      <div class="nav_overlay"></div>
      <div class="tas_fn_nav">
        <div class="trigger is-active">
          <div class="trigger_in">
            <span class="text">Close</span>
            <span class="hamb">
              <span class="hamb_a"></span>
              <span class="hamb_b"></span>
              <span class="hamb_c"></span>
            </span>
          </div>
        </div>
        <div class="nav_content">
          <div class="nav_menu">
            <ul>
              <li class="menu-item menu-item-has-children">
                <a href="/">Home</a>
              </li>
              <li class="menu-item"><a href="/comming">Wargame</a></li>
              <li class="menu-item"><a href="/member">Member</a></li>
              <li class="menu-item">
                <a href="#">Research</a>
                <ul class="sub-menu">
                  <li><a href="/pwnable">Pwnable</a></li>
                  <li><a href="/reversing">Reversing</a></li>
                  <li><a href="/web">Web</a></li>
                  <li><a href="/forensic">Forensic</a></li>
                  <li><a href="/crypto">Crypto</a></li>
                  <li><a href="/cve">CVE</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="/ctf">CTF[Write-up]</a>
                <ul class="sub-menu">
                  <!-- <li><a href="/2024">2024</a></li> -->
                  <li><a href="/2023">2023</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="nav_buttons">
            <a href="/comming" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/wargame.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame</span>
            </a>
            <a href="#" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame Discord</span>
            </a>
          </div>
        </div>

        <!-- Nav Footer -->
        <div class="nav_footer">
          <div class="nf_left">
            <p>Copyright 2019. T3N4CI0US All rights reserved</p>
          </div>
          <div class="nf_right">
            <div class="tas_fn_social_list">
              <ul>
                <li><a href="https://twitter.com/cyb3r_t3n4ci0us"><box-icon name='twitter' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://www.facebook.com/people/T3N4CI0US/100064062290144/"><box-icon name='meta' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://www.instagram.com/t3n4ci0us_official/"><box-icon name='instagram' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://github.com/CYB3R-T3N4CI0US"><box-icon name='github' type='logo' color='#ffffff' ></box-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Nav Footer End -->
      </div>
      <!-- Right Navigation End -->

    <!-- Header -->
    <header class="tas_fn_header fixer">
        <div class="container">
            <div class="header_in">

            <div class="logo">
                <a href="/">
                <!-- Logo -->
                <!-- <img src="images/logo.png" alt=""> -->
                <span class="logo">T3N4CI0US</span>
                </a>
            </div>
          
            <div class="trigger">
                <div class="trigger_in">
                    <span class="text">Menu</span>
                    <span class="hamb">
                        <span class="hamb_a"></span>
                        <span class="hamb_b"></span>
                        <span class="hamb_c"></span>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="tas_fn_content">
		<div class="tas_fn_coming_soon">
			<div class="container">
				<div class="soon_countdown">
					<!-- <h3 class="tas_fn_countdown boxed" data-type="ever" data-date="February 12, 2023 00:00:00" data-days="33" data-hours="7" data-minutes="33" data-seconds="0">0d: 0h: 0m: 0s</h3> -->
          <div id="time">
            <!-- Days -->
            <div class="circle" style="--clr: #6969aa;">
              <div class="dots day_dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="dd"></circle>
              </svg>
              <div id="days">00<!-- <br><span>Days</span> --></div>
            </div>
            <!-- Hours-->
            <div class="circle" style="--clr: #728fd6;">
              <div class="dots hr_dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="hh"></circle>
              </svg>
              <div id="hours">00</div>
            </div>
            <!-- Minutes -->
            <div class="circle" style="--clr: #91adcf;">
              <div class="dots min_dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="mm"></circle>
              </svg>
              <div id="minutes">00</div>
            </div>
            <!-- Seconds -->
            <div class="circle" style="--clr: #9d8cce;">
              <div class="dots sec_dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="ss"></circle>
              </svg>
              <div id="seconds">00</div>
            </div>
          </div>
				</div>
				<div class="soon_title" style="text-align: center;">
					<h3>Wargame is Coming Soon</h3>
					<p>Our wargame is coming soon. We are currently working on wargame. Please check again within a few days.</p>
				</div>
			</div>
		</div>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/plugins.js"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
    <script type="text/javascript" src="javascripts/init.js?ver=4.0"></script>
    <script type="text/javascript" src="javascripts/countdown.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>