<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="T3N4CI0US">
    <meta name="author" content="T3N4CI0US">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> <%= title %></title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link type="text/css" rel="stylesheet" href="stylesheets/plugins.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css?ver=1.0">
  </head>
  <body class="home-static">
    <!-- Main -->
    <div class="tas_fn_main" data-footer-sticky="">
      <!-- Wargame Modal -->
      <div class="tas_fn_modal product_modal">
        <div class="modal_in">
          <div class="modal_closer">
            <a href="#">
              <img src="images/svg/cancel.svg" alt="" class="fn__svg">
            </a>
          </div>
          <div class="modal_content">
            <div class="tas_fn_product_modal">
              <div class="img_item">
                <!-- Product's Image -->
              </div>
              <div class="content_item">
                <div class="tas_fn_title" data-align="left">
                  <h3 class="fn_title"><!-- Product's Title --></h3>
                  <div class="line"><span></span></div>
                </div>
  
                <div class="desc">
                  <p><!-- Product's Description --></p>
                </div>
  
                <div class="buttons">
                  <a href="/comming" target="_blank" class="tas_fn_button wargame">
                    <span class="icon"><img src="images/svg/link.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame</span>
                  </a>
                  <a href="/comming" target="_blank" class="tas_fn_button discord">
                    <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame Discord</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Wargame Modal End -->

      <!-- Right Navigation -->
      <div class="nav_overlay"></div>
      <div class="tas_fn_nav">
        <div class="trigger is-active">
          <div class="trigger_in">
            <span class="text">Close</span>
            <span class="hamb">
              <span class="hamb_a"></span>
              <span class="hamb_b"></span>
              <span class="hamb_c"></span>
            </span>
          </div>
        </div>
        <div class="nav_content">
          <div class="nav_menu">
            <ul>
              <li class="menu-item menu-item-has-children">
                <a href="/">Home</a>
                <!-- Sub Menu
                <ul class="sub-menu">
                  <li><a href="#"></a></li>
                </ul>
                -->
              </li>
              <li class="menu-item"><a href="/comming">Wargame</a></li>
              <li class="menu-item"><a href="/member">Member</a></li>
              <li class="menu-item">
                <a href="#">Research</a>
                <ul class="sub-menu">
                  <li><a href="/pwnable">Pwnable</a></li>
                  <li><a href="/reversing">Reversing</a></li>
                  <li><a href="/web">Web</a></li>
                  <li><a href="/forenisc">Forensic</a></li>
                  <li><a href="/crypto">Crypto</a></li>
                  <li><a href="/cve">CVE</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="/ctf">CTF[Write-up]</a>
                <ul class="sub-menu">
                  <!-- <li><a href="/2024">2024</a></li> -->
                  <li><a href="/2023"s>2023</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="nav_buttons">
            <a href="/comming" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/link.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame</span>
            </a>
            <a href="/comming" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame Discord</span>
            </a>
          </div>
        </div>

        <!-- Nav Footer -->
        <div class="nav_footer">
          <div class="nf_left">
            <p>Copyright 2019. T3N4CI0US All rights reserved</p>
          </div>
          <div class="nf_right">
            <div class="tas_fn_social_list">
              <ul>
                <li><a href="https://twitter.com/cyb3r_t3n4ci0us"><box-icon name='twitter' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://www.facebook.com/people/T3N4CI0US/100064062290144/"><box-icon name='meta' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://www.instagram.com/t3n4ci0us_official/"><box-icon name='instagram' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="https://github.com/CYB3R-T3N4CI0US"><box-icon name='github' type='logo' color='#ffffff' ></box-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Nav Footer End -->
      </div>
      <!-- Right Navigation End -->

    <!-- Header -->
    <header class="tas_fn_header">
      <div class="container">
        <div class="header_in">

          <div class="logo">
            <a href="/">
              <!-- Logo -->
              <!-- <img src="images/logo.png" alt=""> -->
              <span class="logo">T3N4CI0US</span>
            </a>
          </div>
          
          <div class="trigger">
            <div class="trigger_in">
              <span class="text">Menu</span>
              <span class="hamb">
                <span class="hamb_a"></span>
                <span class="hamb_b"></span>
                <span class="hamb_c"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Content -->
    <div class="tas_fn_content">
      <!-- Hero Header -->
      <div class="tas_fn_hero">
        <!-- Overlay -->
        <div class="bg_overlay">
          <!-- Overlay Color -->
          <div class="bg_color"></div>
          <!-- Overlay Color End -->

          <!-- Overlay Image -->
          <div class="bg_image" data-bg-img="image/hero/bg.jpg"></div>
          <!-- Overlay Image End -->
        </div>
        <!-- Overlay End -->

        <div class="hero_content">
          <div class="container">
            <div class="content">
              <h2 class="fn_title" title="tas">T3N4CI0US</h2>
              <p class="fn_desc fn_animated_text">T3N4CI0US{W3lc0me_T3N4CI0US_H0m3_Pag3!}</p>
            </div>
          </div>
          <a href="#" class="tas_fn_down magic-hover magic-hover__square">
            <span class="text">Scroll Down</span>
					  <span class="icon"><img src="svg/right-arr.svg" alt="" class="fn__svg"></span>
          </a>
        </div>
      </div>
      <!-- Hero Header End -->
      <!-- Blog Section -->
      <section id="blog">
        <div class="container">

          <!-- Main Title -->
          <div class="tas_fn_title">
            <h3 class="fn_title">T3N4CI0US News</h3>
            <div class="line"><span></span></div>
          </div>
          <!-- !Main Title -->


          <!-- Moving Blog List Shortcode -->
          <div class="tas_fn_moving_blog">
            <ul>
              <li>
                <div class="item">
                  <p class="fn_date">
                    <span>Wed, 10 Aug. 2022</span>
                  </p>
                  <h3 class="fn_title">
                    <a href="#">T3N4CI0US CTF - Escape</a>
                  </h3>
                  <p class="fn_desc">The T3N4CI0US hosted the CTF every year for the world, and in 2022 it was selected as the theme of Escape.</p>
                  <p class="fn_read">
                    <a href="#" class="tas_fn_button only_text">
                      <span class="text">Read More</span>
                    </a>
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <p class="fn_date">
                    <span>Undetermined</span>
                  </p>
                  <h3 class="fn_title">
                    <a href="#">T3N4CI0US Wargame</a>
                  </h3>
                  <p class="fn_desc">T3N4CI0US has started producing Wargame and is currently in progress. :D</p> <br>
                  <p class="fn_read">
                    <a href="#" class="tas_fn_button only_text">
                      <span class="text">Read More</span>
                    </a>
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <p class="fn_date">
                    <span>Undetermined</span>
                  </p>
                  <h3 class="fn_title">
                    <a href="#">T3N4CI0US CTF 2023</a>
                  </h3>
                  <p class="fn_desc">In 2023, T3N4CI0US will also host CTF!
                    Learn more about this!</p> <br>
                  <p class="fn_read">
                    <a href="#" class="tas_fn_button only_text">
                      <span class="text">Read More</span>
                    </a>
                  </p>
                </div>
              </li>
            </ul>
          </div>


        </div>
      </section>
      <!-- !Blog Section -->
      <!-- Sponsor Section -->
		  <section id="sponsor">

			  <!-- Dividers -->
			  <img src="images/svg/divider.svg" alt="" class="fn__svg fn__divider top_divider">
			  <!-- <img src="images/svg/divider.svg" alt="" class="fn__svg fn__divider bottom_divider"> -->
			  <!-- !Dividers -->

			  <div class="container">

				  <!-- Main Title -->
				  <div class="tas_fn_title">
					  <h3 class="fn_title">T3N4CI0US Sponsor</h3>
					  <div class="line"><span></span></div>
				  </div>
				  <!-- !Main Title -->

				  <!-- sponsor List Shortcode -->
				  <div class="tas_fn_sponsor">
					  <ul>
						  <li>
							  <div class="item">
								  <img src="images/sponsor/burp.png" alt="">
								  <a href="https://burpbounty.net" class="full_link"></a>
							  </div>
						  </li>
						  <li>
							  <div class="item">
								  <img src="images/sponsor/pentester.png" alt="">
								  <a href="https://pentesterlab.com" class="full_link"></a>
							  </div>
						  </li>
              <li>
                <div class="item">
                  <img src="images/sponsor/give.png" alt="">
                  <a href="http://givemycertificate.com" class="full_link"></a>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="images/sponsor/wolfram.png" alt="">
                  <a href="http://wolfram.com" class="full_link"></a>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="images/sponsor/wordmark-logo.svg" alt="">
                  <a href="https://www.offensive-security.com" class="full_link"></a>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="images/sponsor/hackrocks.png" alt="">
                  <a href="https://hackrocks.com" class="full_link"></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Totop -->
    <a href="#" class="tas_fn_totop">
      <span class="arrow"><img src="images/svg/right-arr.svg" alt="" class="fn__svg"></span>
      <span class="circle"><img src="images/svg/circle.svg" alt="" class="fn__svg"></span>
    </a>
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script type="text/javascript" src="javascripts/plugins.js"></script>
  <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
  <script type="text/javascript" src="javascripts/init.js?ver=4.0"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>