<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="T3N4CI0US">
    <meta name="author" content="T3N4CI0US">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> <%= title %></title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link type="text/css" rel="stylesheet" href="stylesheets/plugins.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css?ver=1.0">
  </head>
  <body class="home-static">
    <!-- Main -->
    <div class="tas_fn_main" data-footer-sticky="">
      <!-- Wargame Modal -->
      <div class="tas_fn_modal product_modal">
        <div class="modal_in">
          <div class="modal_closer">
            <a href="#">
              <img src="images/svg/cancel.svg" alt="" class="fn__svg">
            </a>
          </div>
          <div class="modal_content">
            <div class="tas_fn_product_modal">
              <div class="img_item">
                <!-- Product's Image -->
              </div>
              <div class="content_item">
                <div class="tas_fn_title" data-align="left">
                  <h3 class="fn_title"><!-- Product's Title --></h3>
                  <div class="line"><span></span></div>
                </div>
  
                <div class="desc">
                  <p><!-- Product's Description --></p>
                </div>
  
                <div class="buttons">
                  <a href="/comming" target="_blank" class="tas_fn_button wargame">
                    <span class="icon"><img src="images/svg/wargame.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame</span>
                  </a>
                  <a href="#" target="_blank" class="tas_fn_button discord">
                    <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
                    <span class="text">Wargame Discord</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Wargame Modal End -->

      <!-- Right Navigation -->
      <div class="nav_overlay"></div>
      <div class="tas_fn_nav">
        <div class="trigger is-active">
          <div class="trigger_in">
            <span class="text">Close</span>
            <span class="hamb">
              <span class="hamb_a"></span>
              <span class="hamb_b"></span>
              <span class="hamb_c"></span>
            </span>
          </div>
        </div>
        <div class="nav_content">
          <div class="nav_menu">
            <ul>
              <li class="menu-item menu-item-has-children">
                <a href="/">Home</a>
                <!-- Sub Menu
                <ul class="sub-menu">
                  <li><a href="#"></a></li>
                </ul>
                -->
              </li>
              <li class="menu-item"><a href="/comming">Wargame</a></li>
              <li class="menu-item"><a href="/member">Member</a></li>
              <li class="menu-item">
                <a href="#">Research</a>
                <ul class="sub-menu">
                  <li><a href="/pwnable">Pwnable</a></li>
                  <li><a href="/reversing">Reversing</a></li>
                  <li><a href="/web">Web</a></li>
                  <li><a href="/forensic">Forensic</a></li>
                  <li><a href="/crypto">Crypto</a></li>
                  <li><a href="/cve">CVE</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">CTF[Write-up]</a>
                <ul class="sub-menu">
                  <!-- <li><a href="/2024">2024</a></li> -->
                  <li><a href="/2023">2023</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="nav_buttons">
            <a href="/comming" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/wargame.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame</span>
            </a>
            <a href="#" class="tas_fn_button" target="_blank">
              <span class="icon"><img src="images/svg/discord.svg" alt="" class="fn__svg"></span>
              <span class="text">Wargame Discord</span>
            </a>
          </div>
        </div>

        <!-- Nav Footer -->
        <div class="nav_footer">
          <div class="nf_left">
            <p>Copyright 2019. T3N4CI0US All rights reserved</p>
          </div>
          <div class="nf_right">
            <div class="tas_fn_social_list">
              <ul>
                <li><a href="#"><box-icon name='twitter' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="#"><box-icon name='meta' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="#"><box-icon name='instagram' type='logo' color='#ffffff' ></box-icon></a></li>
                <li><a href="#"><box-icon name='github' type='logo' color='#ffffff' ></box-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Nav Footer End -->
      </div>
      <!-- Right Navigation End -->

    <!-- Header -->
    <header class="tas_fn_header">
      <div class="container">
        <div class="header_in">

          <div class="logo">
            <a href="/">
              <!-- Logo -->
              <!-- <img src="images/logo.png" alt=""> -->
              <span class="logo">T3N4CI0US</span>
            </a>
          </div>
          
          <div class="trigger">
            <div class="trigger_in">
              <span class="text">Menu</span>
              <span class="hamb">
                <span class="hamb_a"></span>
                <span class="hamb_b"></span>
                <span class="hamb_c"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
    <!-- Content -->
	<div class="tas_fn_content">
		<!-- Member Page -->
		<div class="tas_fn_collectionpage">
			<div class="container wide">
				<div class="tas_fn_collection">
                    <!-- Filters -->
					<div class="tas_fn_filters">
							
						<!-- Type -->
						<div class="filter_item filter__type">
						
							<!-- Filter Header -->
							<div class="filter_item__header">
								<a class="full_link" href="#"></a>
								<span class="text">Role</span>
								<span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>
							</div>
							<!-- !Filter Header -->
							
							<!-- Filter Content -->
							<div class="filter_item__content">
								<div class="ic_in">

									<ul class="items">
										<li>
											<div class="item">
												<label class="checkbox" data-category="Type" data-id="1">
													<span class="text">Management Team</span>
													<span class="amount"> - 5</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Type" data-id="2">
													<span class="text">Wargame Management</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Type" data-id="3">
													<span class="text">CYB3R</span>
													<span class="amount"> - 10</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
									</ul>

								</div>
							</div>
							<!-- Filter Content -->
							
						</div>
						<!-- !Type -->
							
						<!-- Special -->
						<div class="filter_item filter__special">
						
							<!-- Filter Header -->
							<div class="filter_item__header">
								<a class="full_link" href="#"></a>
								<span class="text">Category</span>
								<span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>
							</div>
							<!-- !Filter Header -->
							
							<!-- Filter Content -->
							<div class="filter_item__content">
								<div class="ic_in">

									<ul class="items">
										<li>
											<div class="item">
												<label class="checkbox" data-category="Special" data-id="5">
													<span class="text">Pwnable</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Special" data-id="6">
													<span class="text">Reversing</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Special" data-id="7">
													<span class="text">Web</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Special" data-id="8">
													<span class="text">Forensic</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
										<li>
											<div class="item">
												<label class="checkbox" data-category="Special" data-id="9">
													<span class="text">Crypto</span>
													<span class="amount"> - ?</span>
													<input type="checkbox">
													<span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>
												</label>
											</div>
										</li>
									</ul>

								</div>
							</div>
							<!-- Filter Content -->
						</div>
						<!-- !Special -->
                    </div>
					<div class="tas_fn_clist">
						
						<!-- Main Title -->
						<div class="tas_fn_title" data-align="left">
							<h3 class="fn_title">Our Members</h3>
							<div class="line"><span></span></div>
							<h5 class="fn_description">Click on the name to view the details.</h5>
						</div>
						<!-- !Main Title -->
						<!-- Result List -->
						<div class="tas_fn_result_list">
							<div class="tas_fn_drops">
								<ul class="grid">
									<li class="id1 id2 id5">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Sy2n0</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/sy2n0.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Sy2n0</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>🚩 Ecological disturbance species</a></p>
													</div>

													<div class="buttons">
														<script src="https://tryhackme.com/badge/1025172"></script>
														<a href="https://github.io/Sy2n0" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
														<a href="https://sy2n0.me" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/blog.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Site</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id1 id2">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Dolpari</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/dolpari.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Dolpari</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="https://github.com/dolpari" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id1 id2 id6">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">cyalume</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/cyalume.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">cyalume</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</a></p>
													</div>

													<div class="buttons">
														<a href="https://github.com/Iamcyalume" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id1 id2 id7">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Function</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/function.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Function</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="id1 id2 id5">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">JJ3rry</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/jj3rry.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">JJ3rry</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Rec0niz3</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/rec0niz3.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Rec0niz3</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3 id8">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Center</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/center.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Center</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Juno</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/juno.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Juno</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3 id6">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">suriryuk</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/suriryuk.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">suriryuk</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">S4YH2</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/s4yh2.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">S4YH2</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3 id7">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">TunaF</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/tunaf.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">TunaF</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">namgi</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/namgi.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">namgi</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3 id8">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">Poo</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/poo.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">Poo</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">너구리</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/ngr.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">너구리</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
									<li class="id3">
										<div class="item" data-included="on">
											<div class="img_holder">
												<a href="#" class="full_link"></a>
											</div>
											<div class="title_holder">
												<h3 class="fn_title"><a href="#">PUFF3R</a></h3>
											</div>
											
											<!-- Modal Information -->
											<div class="hidden_info">
												<div class="img_item"><img src="images/member/testo.png"></div>
												<div class="content_item">
													<div class="tas_fn_title" data-align="left">
														<h3 class="fn_title">PUFF3R</h3>
														<div class="line"><span></span></div>
													</div>

													<div class="desc">
														<p>?</p>
													</div>

													<div class="buttons">
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
														<a href="#" target="_blank" class="tas_fn_button">
															<span class="icon"><img src="images/svg/github.svg" alt="" class="fn__svg"></span>
															<span class="text">View on Github</span>
														</a>
													</div>
												</div>
											</div>
											<!-- !Modal Information -->
											
										</div>
									</li>
								</ul>
							</div>
							
						</div>
						<!-- !Result List -->
						
					</div>
					
				</div>
				
			</div>			
		</div>
	</div>
	<!-- Content -->
    <!-- Totop -->
	<a href="#" class="tas_fn_totop">
		<span class="arrow"><img src="svg/right-arr.svg" alt="" class="fn__svg"></span>
		<span class="circle"><img src="svg/circle.svg" alt="" class="fn__svg"></span>
	</a>
	<!-- !Totop -->
    </div>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/plugins.js"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
    <script type="text/javascript" src="javascripts/init.js?ver=4.0"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </body>
</html>